bin/client
*.o
*~
*edacc_client.log
results/
solvers/
instances/
bin/verifiers
.kdev4/
edacc_client.kdev4
tags
docs/*.log
docs/*.aux
.cproject
.project
.settings
bin/fsid
verifiers/SAT
verifiers/certifiedSAT/brup2drup
verifiers/certifiedSAT/certifiedSAT
verifiers/certifiedSAT/certifiedSAT14
verifiers/certifiedSAT/drat-trim
verifiers/certifiedSAT/drup-check
verifiers/certifiedSAT/stc
cost_binaries
